* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'CreditCard', sans-serif;
  background-color: aliceblue;
}

@font-face {
  font-family: 'CreditCard';
  src: url('/HALTER__.ttf') format('woff2');
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* configurações do card */
.card {
  background: rgb(0, 158, 156);
  background: linear-gradient(120deg, rgba(0, 158, 156, 1) 0%, rgba(115, 115, 166, 1) 25%, rgba(112, 34, 131, 1) 100%);
  width: 400px;
  height: 250px;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 11px 11px 24px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 24px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 24px 3px rgba(0, 0, 0, 0.75);
}

/* logo da vortigo */

.logo-vortigo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1.2rem;
}

.chip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.5rem;
  padding-top: 1.5rem;

}

.chip>img:first-of-type {
  width: 48px;
  height: 37px;
  margin-right: 10px;
}

.chip>img:last-of-type {
  width: 30px;
  height: 30px;

}

.info {
  display: inline;
  padding: 20px;
}


.number, .nome {
  font-size: small;
  background: rgb(225, 226, 225);
  background: linear-gradient(90deg, rgba(225, 226, 225, 1) 56%, rgba(138, 139, 138, 1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.validade {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: small;
  background: rgb(225, 226, 225);
  background: linear-gradient(90deg, rgba(225, 226, 225, 1) 56%, rgba(138, 139, 138, 1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;

}

.validade>p {
  margin-right: 10px;
}

.info {
  padding-left: 2.0rem;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number, .validade, .nome {
  margin-bottom: 4px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(32, 31, 31, 0.5);
}

.bandeira {
  width: 35px;
  position: absolute;
  bottom: 5px;
  right: 55px;

}

@media screen and (max-width: 765px) {
  .container>.card {
      transform: scale(0.9);
      height: 310px;
  }

  .container>.card>.validade>.number {
      font-size: 1.5em;
      padding-right: 1rem;
    
  }

  .container>h1 {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      color: rgb(55, 55, 55);
      font-size: 1.5em;
    
  }
}